<div class="mainBox">
    <h1 class="title">Контакт</h1>
    <div class="homeBelowBox">
        <div class="leftBox">
            <h3>FEIT Computer Store</h3>
            <p><b>Адреса:</b> ул. „Руѓер Бошковиќ“ бр. 18
            <br> П. фах 574 – Скопје</p>
            <p><b>Телефони:</b></p>
            <p>(02) 3099 191</p>
            <p>(02) 3062 224 – Деканат</p>
            <p>(02) 3099 199 – Студентска служба</p>
            <div>
                <a href="https://www.facebook.com/feit.ukim.edu.mk/"><fa style="font-size: 30px; color: blue" name="facebook-f"></fa></a>
                <a href="https://www.youtube.com/channel/UCSiw5rQLqKUj14ifgYf38MQ"><fa style="font-size: 30px; margin-left: 20px; color: red" name="youtube"></fa></a>
                
            </div>
        </div>
        <div class="rightBox ">
            <img width="400" height="280" src="https://staticmapmaker.com/img/google@2x.png" class="image" />
        </div>
    </div>
</div>